<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ASDProject"
        tools:targetApi="31">

        <!-- Entry point of the application. Initializes Firebase and routes to login. -->
        <activity
            android:name=".view.activities.RoleSelectionActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Child login screen -->
        <activity
            android:name=".view.activities.LoginActivity"
            android:exported="false" />

        <!-- Child home dashboard -->
        <activity
            android:name=".view.activities.ChildHomeActivity"
            android:exported="false" />

        <!-- Emotion logging screen -->
        <activity
            android:name=".view.activities.EmotionLogActivity"
            android:exported="false" />

        <!-- Emotion history list -->
        <activity
            android:name=".view.activities.ChildHistoryActivity"
            android:exported="false" />

        <!-- Emotion detail view -->
        <activity
            android:name=".view.activities.EmotionDetailActivity"
            android:exported="false" />

    </application>

</manifest>
